<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/DataForm.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/MainPageNavigationBar.css" />
    <script type="text/javascript" src="routes/DataRequestForm.js"></script>
    <title>DataRequestForm</title>
</head>
<body>
<div class="contain">
    <div class="container-fluid">
        <ul>
            <li class="active"><li><a href="researcher">Researcher</a></li>
            <li class="active"><a href="DataRequestForm">Data Request Form Page</a></li>
<!--            <li><a href="log">Logging</a></li>-->
            <li style="float:right"><a href="logout">Logout</a></li>
        </ul>
    </div>
    <div class="pagesBody">
        <form id="requestForm" name="requestForm" class="requestForm" method="post">
            <div class="row">
                <div class="col-30">
                    <label for="userId">UserId</label>
                </div>
                <div class="col-70">
                    <input type="text" id="userId" name="userId" placeholder="" value="<%= valueOfID %>" readonly="readonly" disabled="true">
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="role">Role</label>
                </div>
                <div class="col-70">
                    <input type="text" id="role" name="role" placeholder="" value="<%= valueOfRole %>" readonly="readonly" disabled="true">
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="fname">First Name</label>
                </div>
                <div class="col-70">
                    <input type="text" id="fname" name="firstname" placeholder="Your name.." value="<%= FirstName %>" readonly="readonly" disabled="true">
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="lname">Last Name</label>
                </div>
                <div class="col-70">
                    <input type="text" id="lname" name="lastname" placeholder="Your last name.." value="<%= LastName %>" readonly="readonly" disabled="true">
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="email">Email</label>
                </div>
                <div class="col-70">
                    <input type="text" id="email" name="email" placeholder="Your email: No relevant records." value="<%= valueOfMail %>" readonly="readonly" disabled="true">
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="association">Association</label>
                </div>
                <div class="col-70">
                    <input type="text" id="association" name="association" placeholder="Your association: No relevant records." value="<%= valueOfAss %>" readonly="readonly" disabled="true">
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label>Data required</label>
                </div>
                <div class="col-70" style="padding-top: 12px">
                    Please select the data that you need:<br/>
<!--                    <label><input type="checkbox" name="datarequired" id="datarequired" value="Actual Cooling Set point"/>Actual Cooling Set point</label>-->
<!--                    <label><input type="checkbox" name="datarequired" id="datarequired" value="Actual Heating Set point"/>Actual Heating Set point</label>-->
                    <label><input type="checkbox" name="datarequired" id="datarequired" value="co2"/>CO2</label>
<!--                    <label><input type="checkbox" name="datarequired" id="datarequired" value="Cooling Valve Position"/>Cooling Valve Position</label>-->
<!--                    <label><input type="checkbox" name="datarequired" id="datarequired" value="Heating Valve Position"/>Heating Valve Position</label>-->
<!--                    <label><input type="checkbox" name="datarequired" id="datarequired" value="Light Power Level"/>Light Power Level</label>-->
<!--                    <label><input type="checkbox" name="datarequired" id="datarequired" value="Mode"/>Mode</label>-->
<!--                    <label><input type="checkbox" name="datarequired" id="datarequired" value="Mode Input"/>Mode Input</label>-->
                    <label><input type="checkbox" name="datarequired" id="datarequired" value="occupancy-sensor"/>Occupancy Sensor</label>
                    <label><input type="checkbox" name="datarequired" id="datarequired" value="relative-humidity"/>Relative Humidity</label>
                    <label><input type="checkbox" name="datarequired" id="datarequired" value="room-brightness"/>Room Brightness</label>
                    <label><input type="checkbox" name="datarequired" id="datarequired" value="room-temperature"/>Room Temperature</label>
                    <div class="divUnder">
                        <input type="checkbox" name="datarequired" id="datarequired" value="." checked="checked" style="display: none"/>
                        <div class="divUpper">
                            <input type="checkbox" disabled="true" style="display: none"/>
                        </div>
                    </div>
                </div>
                <div id="warning"></div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="datalocation">Data location</label>
                </div>
<!--                <div class="col-70">-->
<!--                    <input type="text" id="dlocation" name="datalocation" placeholder="Please input the office number..." value="">-->
<!--                </div>-->
                <div class="col-70">
                    <select id="datalocation" name="datalocation" style="margin-top: 10px">
                        <option value="6.008">6.008</option>
                        <option value="6.009">6.009</option>
                        <option value="6.024">6.024</option>
                        <option value="6.025">6.025</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="date_start">Date</label>
                </div>
                <div class="col-70" style="margin-top: 15px;">
<!--                    <input id="datechoose" name="datechoose" type="date" onclick=alert("xixiguan") /> — <input id="dates_end" name="dates_end" type="date" onchange="isDate(this.value)" min="2000-01-01" max="2100-01-01" required/>-->
<!--                    <input type="date" id="party" name="party" min="2017-04-01" max="2017-04-20" required>-->
<!--                    <input type="date" name="input1" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Enter a date in this formart YYYY-MM-DD"/>-->
                    <input id="date_start" name="date_start" type="date" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min="2000-01-01" max="2100-01-01" required/><span class="validity"></span>
                    -
                    <input id="date_end" name="date_end" type="date" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min="2000-01-01" max="2100-01-01" required/><span class="validity"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-30">
                    <label for="reason">Reason</label>
                </div>
                <div class="col-70">
                    <textarea id="reason" name="reason" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row" style="text-align: center">
                <input name="submit" type="submit" value="Submit">
                <div id="show" class="show"></div>
            </div>
        </form>
    </div>
    <div class="pagesBottom"></div>
    <script>
        let failure = "<%= flag %>";
        if(failure == 1) document.getElementById("show").innerText = "Warning: Please select the data that you need!";
        if(failure == 2) document.getElementById("show").innerText = "Warning: Start date should not be later than End date!";
        if(failure == 3) document.getElementById("show").innerText = "Warning: End date should not be later than Today!";
    </script>
</div>
</body>
</html>